
    <div id="footer">

        <div class="items">
            <h1>WORKING HOURS</h1>
            <p>Monday - Friday 6:00 AM - 10:00 PM</p>
            <p>Sunday - Saturday 8:00 AM - 10:00 PM</p>
        </div>
        
        <div class="items">
            <h1>ADDRESS</h1>
            <P>XYZ Street</P>
            <p>India</p>
        </div>

        <div class="items">
            <div><h1>Connect Us: </h1></div>
            <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank" ><i class="fa-brands fa-instagram instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank" ><i class="fa-brands fa-facebook facebook"></i></a>
        </div>

    </div>

</body>
</html>