<%- include("partials/header"); -%>

<section class="class-pg">

    <div class="class-container">
        
        <h1 class="title">CLASSES</h1>

        <div class="class-item">
            <div class="image">
                <div class="img"><img src="css/images/cardio.jpg" alt="Cardio"></div>
                <p>Cardio</p>
            </div>
            <div class="image">
                <div class="img"><img src="css/images/lifting.jpg" alt="Lifting"></div>
                <p>Lifting</p>
            </div>
            <div class="image">
                <div class="img"><img src="css/images/press and back.jpg" alt="Press & Back"></div>
                <p>Press & Back</p>
            </div>
            <div class="image">
                <div class="img"><img src="css/images/p1.jpg" alt="Abs"></div>
                <p>Abs</p>
            </div>
            <div class="image">
                <div class="img"><img src="css/images/cardio.jpg" alt="Cardio"></div>
                <p>Cardio</p>
            </div>
            <div class="image">
                <div class="img"><img src="css/images/lifting.jpg" alt="Lifting"></div>
                <p>Lifting</p>
            </div>
            <div class="image">
                <div class="img"><img src="css/images/press and back.jpg" alt="Press & Back"></div>
                <p>Press & Back</p>
            </div>
            <div class="image">
                <div class="img"><img src="css/images/p1.jpg" alt="Abs"></div>
                <p>Abs</p>
            </div>
        </div>

    </div>
</section>

<%- include("partials/sign-up"); -%>

<%- include("partials/footer"); -%>