<%- include("partials/header"); -%>

<section class="prices-and-plans">

     <h1>PRICES & PLANS</h1>
     
     <div class="p-n-p">
          <div class="plans">
               <div class="prices">
                    <h2>BASIC</h2>
                    <h3>Rs. 500</h3>
               </div>
               <p>INCLUDED:</p>
               <ul>
                    <li>Unlimited gym access</li>
                    <li>Personal Workout</li>
               </ul>
          </div>

          <div class="plans">
               <div class="prices">
                    <h2>PREMIUM</h2>
                    <h3>Rs. 800</h3>
               </div>
               <p>INCLUDED:</p>
               <ul>
                    <li>Unlimited gym access</li>
                    <li>Trainer</li>
                    <li>Personal nutrition plan</li>
               </ul>
          </div>
     </div>

</section>

<%- include("partials/sign-up"); -%>

<%- include("partials/footer"); -%>