<%- include("partials/header"); -%>

<section class="sign-up-pg">

     <h1>SIGN UP FOR A WORKOUT</h1>
     <div class="contact-box">
          <form>
               <label for="">First Name<span>*</span></label>
               <input type="text" placeholder="Your First Name">
               <label for="">Last Name<span>*</span></label>
               <input type="text" placeholder="Your Last Name">
               <label for="">Email Address<span>*</span></label>
               <input type="email" placeholder="Your Email Address">
               <label for="">Your Message<span>*</span></label>
               <textarea name="" id="" cols="30" rows="10" placeholder="Enter Your Message"></textarea>

               <button type="submit">SUBMIT</button>
          </form>
     </div>
       
</section>

<%- include("partials/footer"); -%>